<h1>All Plants</h1>

<h2>Lowest Demand Plant: <%= Plant.low_demand.name %></h2>

<br>
<% @plants.each do |plant| %>
<p><%= link_to plant.name, plant_path(plant) %> <%if current_user.admin %><%= link_to "Edit", edit_admin_plant_path(plant) %><%end%></p>
<% end %>