<h3><%= link_to "Make New Garden", new_garden_path %></h3>
<%unless current_user.gardens%>
<h2>All <%if current_user.username != "" %><%= current_user.username + "'s " %><% end %>Gardens: </h2>
<%end%>

<ul>
<% @gardens.each do |garden| %>
<li><%= link_to garden.name, garden_path(garden) %> - <%= garden.garden_plants.count %> Plants </li>
<% end %>
</ul>