Make a New Garden:

<%#= render partial: 'form', locals: {:garden => @garden} %> 
<%= form_for @garden, :url => {:controller => 'gardens', :action => 'create'} do |f| %>
<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>
<p><%= f.submit %></p>
<% end %>